    .titulo1 {
        font-size: 2.5em;font-family: sans-serif; font-weight: 700; max-width: 100%; overflow-x: hidden;
    }
    
    .titulo2 {
        font-size: 1.3em;font-family: sans-serif; font-weight: 700; margin: .5em 0; max-width: 100%; overflow-x: hidden;
    }
    .tarjeta {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 16px; color: #111; box-sizing: border-box; position: relative; padding-right: 15px; padding-left: 15px; float: left; min-height: 60px;
    }

    .tarjeta-a {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 1.42857143; font-size: 16px; box-sizing: border-box; font-weight: 500; background-color: #fff; margin-bottom: 10px; border: 0; border-radius: 4px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); color: #111; display: block; text-decoration: none !important; transition: background 0.15s; word-wrap: break-word; word-break: break-word; box-shadow: 0 8px 6px -6px black;
    }

    .panel_superior {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 1.42857143; font-size: 16px; font-weight: 500; word-wrap: break-word; word-break: break-word; box-sizing: border-box; padding: 10px 15px; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #333; background-position: center center; background-size: cover; border: 0; text-align: center; transition: opacity 0.15s; min-height: 152px; opacity: 0.996694;
    }

    .boton {
        text-transform: uppercase; padding: 1.2rem !important; font-weight: bold !important; margin-top: 20px; background-color: #63bf65 !important; display: flex !important;
    }

      .boton-azul {
        text-transform: uppercase; padding: 1.2rem !important; font-weight: bold !important; margin-top: 20px; background-color: #0072bc !important; display: flex !important; color:#F9F9F9"
    }
 
    .boton-warning {
        text-transform: uppercase; padding: 1.2rem !important; font-weight: bold !important; margin-top: 20px; background-color: #ffc107 !important; display: flex !important; color:white !important; border-color: grey !important;
    }

    .error-message {
        color: red; font-size: 16px; margin-top: -18px; margin-left: 80px;
    }

    .texto {
        text-transform: uppercase; padding: 1.2rem !important; font-weight: bold !important; display: flex !important; height: 3.4rem; font-size: 25px !important; width: 15rem !important; letter-spacing: 4px !important;
        /* width: 200px !important; */
    }

    .panel_inferior {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 1.42857143; font-size: 16px; font-weight: 500; color: #111; word-wrap: break-word; word-break: break-word; box-sizing: border-box; padding: 15px 20px; background-color: #c8c8c8 !important;
    }

    .titulo_card {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); word-wrap: break-word; word-break: break-word; box-sizing: border-box; font-family: inherit; color: inherit; font-weight: 400; line-height: 1.3; margin: .25em 0; font-size: 1.1em; font-weight: bold !important;
    }

    .text-muted {
        -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 1.42857143; word-wrap: break-word; box-sizing: border-box; margin: 0 0 10px; font-weight: 300; font-size: 18px; color: #c4bfbf; transition: background 0.15s; margin-bottom: 0;
    }

    .tarjeta-celeste { 
        margin-top: 2rem; box-sizing: border-box; border: 2px #418d9d solid; background-color: #cff4fc; padding: 2rem; display: flex; border-radius: 7px;
    }
    
    .tarjeta-verde { 
        margin-top: 1rem; box-sizing: border-box; border: 2px #d0ebd0 solid; background-color: #d0ebd0; padding-top: 2rem; padding-bottom: 2rem; padding-left: 2rem; border-radius: 7px; display: block; height: min-content;
    }

    .tarjeta-gris { 
        border:1px solid #bbb6b6; padding:2rem; background-color: #ededed8c !important; margin-bottom: 30px;
    }

    .verde {  background-color: #46a948 !important; }
    .amarillo { background-color: #ffce00 !important; }
    .rosado { background-color: #ea1d76 !important;}
    .celeste { background-color: #009dda !important; }
    .amarillopalido { background-color: #FFD700 !important; }
    .verdemusgo { background-color: #82bc00 !important; }
    .borgona { background-color: #d9534f !important; }
    .celesteclaro { background-color: #5bc0de !important; }
    .violeta { background-color: #873299 !important; }
    .amarilloclaro { background-color: #FFD700 !important; }
    .marron { background-color: #EF6C00 !important;}