<section id="two">
    <div class="inner">
        <header class="major">
            <h2>Nuestro Equipo</h2>
        </header>
        <p>Nuestro equipo de trabajo está compuesto por un grupo excepcional de profesionales apasionados y altamente capacitados, que aportan su vasta experiencia y creatividad para desarrollar tus proyectos. Nos comprometemos a transformar tus ideas en realidad, superando expectativas mediante la innovación, el trabajo en equipo y una dedicación inquebrantable a la excelencia en cada etapa del proceso. Con nosotros, tu visión está en las mejores manos para alcanzar el éxito.</p>
        <ul class="actions">
            <li><a href="home/landing.html" class="button next" style="border-radius: 5px;">Comenzar</a></li>
        </ul>
    </div>
</section>
